body {
  background: url(../../background-pattern-mobile.svg) no-repeat,
    var(--pink-light);
  background-size: contain;
  font-family: var(--font-family);
  font-size: var(--font-body-s);
  display: flex;
  align-items: center;
  flex-direction: column;

  @include tab {
    background: url(../../background-pattern-desktop.svg) no-repeat,
      var(--pink-light);
    background-size: contain;
  }
}
