.qAndA {
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--pink-light);
  }
  &--question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
    margin-block-end: var(--1_5rem);
    margin-block-start: var(--24px);

    &--icon__show {
      cursor: pointer;
    }

    &--icon__hide {
      cursor: pointer;
      &.hide {
        display: none;
      }
    }
    &--question {
      font-size: var(--font-body);
      font-weight: 600;

      &:hover {
        cursor: pointer;
        color: var(--pink);
      }
    }
  }

  &--ans {
    margin-block-end: var(--20px);
  }
  &--ans {
    display: none;
  }
}
